
footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: black;
    color: white;

   
}

.footer-text {
    font-size: 0.778rem;
    color: white;
    opacity: 0.8;
    line-height: 1.611rem;
}
.nav.flex-column .nav-link{
    font-size: 0.778rem;
    padding-left: 0;
    color: white;
    opacity: 0.8;
    line-height: 0.65rem;

    &:hover{
        color: white;
        opacity: 1;
    }
}


.nav-item{
    
    font-family: 'Nunito', sans-serif;
}

.navbar-toggler{
    
    border:none;
    background: white;
}

#section-about{
    
    padding-top: 5.000em;
    padding-bottom: 5.000em;
    background-color: #4ECDC4;
}


#title-about{
    color: white;
    text-align: center;
    margin-bottom: 1.875em;
}

#subtitle-about{
    color: white;
    text-align: center;
    margin-top: 1.875em;
}

img{
    image-rendering : -webkit-optimize-contrast;
}

img.about{
    
    max-width: 80%;
}

img.circle {
    
    border-radius: 50%;
    background-color: white;
}

img.skills {
    max-width: 50%;
}



#landing-section {
    height: 35vh;
    display: flex;
    align-items: center;
/*    background: rgba(40,40,40,0.2);*/
}

#landing-myname{
    color: yellow;
    background: blue;
}


#landing-role{
/*    margin-top: 1em;*/
    background: green;
}

.swiper-container {
    margin-left: 1em;
    width: 100%;
    height: 44px;
}
    
//.swiper-slide {
//    
//    font-family: 'Nunito';
//    text-align: left;
//    font-size: 40px;
///*    background: rgba(40,40,40,0.2);*/
//    
//    display: -webkit-box;
//    display:-ms-flexbox;
//    display: -webkit-flex;
//    display: flex;
//    
//    -webkit-box-pack: start;
//    -ms-flex-pack: flex-start;
//    -webkit-justify-content: flex-start;
//    justify-content: flex-start;
//    
//    -webkit-box-align: center;
//    -ms-flex-align: center;
//    -webkit-align-items: center;
//    align-items: center;
//
//}

#heading{
    width: auto;
}